<div class="footer">
    <div class="pull-right">
         <strong>Only for Demo and educational use</strong>.
    </div>
    <div>
        <strong>Only for Demo and educational use</strong> 
    </div>
</div>
