  {% set menu =  getMenu()  %}
  {% set controller =  getControllerName()  %}
  <nav class="navbar-default navbar-static-side " role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                {% include 'base.usuarioconectado.html.twig' %}

                {% for option in menu %}

                	<li class="">

                    <a href="index.html"><i class="{{option.class}}"></i> <span class="nav-label">{{option.name}}</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    	{% for soption in option.options %}
                    		<li><a href="{{path(soption.route)}}">{{soption.name}}</a></li>
                    	{% endfor %}

                    </ul>
                </li>
                {% endfor %}

                <li class="landing_link">
                    <a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Importan Info!</span> <span class="label label-warning pull-right">Nuevo</span></a>
                </li>
                <li class="special_link">
                    <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Main Option</span></a>
                </li>
            </ul>

        </div>
    </nav>
