<li class="nav-header">
    <div class="dropdown profile-element"> <span>
            <img alt="image" class="img-circle img-md" src="{{ asset('img/querof.jpg') }}" />
             </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Frank Quero</strong>
             </span> <span class="text-muted text-xs block">Developer <b class="caret"></b></span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contact</a></li>
            <li class="divider"></li>
            <li><a href="{{path('login_index')}}">Logout</a></li>
        </ul>
    </div>
    <div class="logo-element">
        FQ+
    </div>
</li>
