{% extends 'base.forma.html.twig' %}

{% block datos -%}
  

    {{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
			
             <div class="form-group">
               	<div class="col-sm-12">
               		
			        {{ form_widget(edit_form) }}
			        
			        {% include 'base.botones.html.twig' %}
                </div>
            </div>
			         
    {{ form_end(edit_form) }}

     
{% endblock %}
